[ req ]
default_bits = 2048
encrypt_key = yes
distinguished_name = req_dn
x509_extensions = cert_type
prompt = no

[ req_dn ]
# country (2 letter code)
C=_COUNTRY_

# State or Province Name (full name)
ST=_STATE_

# Locality Name (eg. city)
L=_CITY_

# Organization (eg. company)
O=_ORG_

# Organizational Unit Name (eg. section)
OU=_OU_

# Common Name (*.example.com is also possible)
CN=_DOMAIN_

# E-mail contact
emailAddress=postmaster@_DOMAIN_

[ cert_type ]
nsCertType = server
