# Commented variables are meant to be loaded from the env [gitlab/github]
# this file must be dumped to .env on the deploy pipeline

# enable debug, just keep this line, comment it to disable
DEBUG=true

# Domain related data
DEFAULT_DOMAIN=chagod.software
MAIL_ADMIN_USER=sysadmin
DEFAULT_MAILBOX_SIZE=200M
MAX_MESSAGESIZE=10485864 # 10M
#MAIL_ADMIN_PASSWORD=---

# DB data
#POSTGRES_PASSWORD=---

# admin inerface [this ]
#POSTFIXADMIN_SETUP_PASSWORD='---'
