# Commented variables are meant to be loaded from the env [gitlab/github]
# this file must be dumped to .env on the deploy pipeline
#
# PLEASE CHANGE ALL THE PASSWORDS, for your own ones, you had been warned.

# enable debug, just keep this line, comment it to disable
#DEBUG=true

# Domain related data MANDATORY
DEFAULT_DOMAIN=maild.cu
MAIL_ADMIN_USER=sysadmincu
DEFAULT_MAILBOX_SIZE=200M
MAX_MESSAGESIZE=10485864 # 10M
# CHANGE IT
MAIL_ADMIN_PASSWORD=JlyrXemIsj3iUyz7AcB7Jv4vKc

# DB data, postgres password, CHANGE IT
POSTGRES_PASSWORD=LIKZJWzovApl8vU6Pfthd2NLA
