# Commented variables are meant to be loaded from the env [gitlab/github]
# this file must be dumped to .env on the deploy pipeline

# enable debug, just keep this line, comment it to disable
DEBUG=true

#############################################
# Domain & Mail Configuration
#############################################
DEFAULT_DOMAIN=chagod.software
MAIL_ADMIN_USER=sysadmin
DEFAULT_MAILBOX_SIZE=200M
MAX_MESSAGESIZE=10485864 # 10M (bytes: 1024 * 1024 * MB * 1.08)
#MAIL_ADMIN_PASSWORD=---

#############################################
# Database Configuration
#############################################
#POSTGRES_PASSWORD=---

#############################################
# Admin Interface Configuration
#############################################
#POSTFIXADMIN_SETUP_PASSWORD='---'
