# Some commented variables are meant to be loaded from the env [gitlab]
# this file must be cleaned then dumped to .env on the deploy pipeline

# enable debug, just keep this line, comment it to disable
#DEBUG=true

# Domain related data
DEFAULT_DOMAIN=maild.cu
MAIL_ADMIN_USER=sysadmincu
DEFAULT_MAILBOX_SIZE=200M
MAX_MESSAGESIZE=10485864 # 10M
#MAIL_ADMIN_PASSWORD=FromENVinTheCICD

# DB data
#POSTGRES_PASSWORD=FromENVinTheCICD
